@model IEnumerable<News>

    @foreach (News n in Model)
    {
        <div style="width:99%;margin-left:5px; padding: 1.5em 0; height: auto">
            <div>
                <p class="font_7">
                    <a style="color: #6EA4CA;" asp-controller="Home" asp-action="News" asp-route-newsID="@n.NewsID">
                        @n.Name
                    </a>
                </p>
                <p class="font_10">@n.Date.ToString("MM/dd/yyyy") @n.Author</p>
            </div>
        </div>
    }