<div style="width:600px; position:relative; height: 100px; background-color: rgba(175, 203, 224, 0.42); padding-top: 20px; margin-bottom: 30px;">
    <div style="width:520px; margin-left:40px; height: 80px">
        <div>
            <p class="font_6">Такої новини не знайдено</p>
        </div>

        <p class="font_8">
            
        </p>
    </div>
</div>