
<div class="nav-header" style="height: 36px;">
    <nav class="site-navigation">
        <div class="nav-page">
            <a class="a-nav" asp-action="Index" asp-controller="Home">
                <p class="p-nav">ГОЛОВНА</p>
            </a>
        </div>
        <div class="nav-page">
            <a class="a-nav" asp-action="Practices" asp-controller="Home">
                <p class="p-nav">ГАЛУЗІ ПРАКТИКИ</p>
            </a>
            <ul class="submenu-1">
                <li class="nav-page" style="width: 100%">
                    <a class="a-nav" asp-action="Practices1" asp-controller="Home">
                        <p class="p-nav" style="line-height: 29px;">Судовий процес</p>
                    </a>
                </li>
                <li class="nav-page" style="width: 100%">
                    <a class="a-nav" asp-action="Practices2" asp-controller="Home">
                        <p class="p-nav" style="line-height: 29px;">Банкрутство</p>
                    </a>
                </li>
                <li class="nav-page" style="width: 100%">
                    <a class="a-nav" asp-action="Practices3" asp-controller="Home">
                        <p class="p-nav" style="line-height: 29px;">Інтелектуальна власність та Авторське право</p>
                    </a>
                </li>
                <li class="nav-page" style="width: 100%">
                    <a class="a-nav" asp-action="Practices4" asp-controller="Home">
                        <p class="p-nav" style="line-height: 29px;">Зовнішньо економічна діяльність</p>
                    </a>
                </li>
                <li class="nav-page" style="width: 100%">
                    <a class="a-nav" asp-action="Practices5" asp-controller="Home">
                        <p class="p-nav" style="line-height: 29px;">Корпоративне право</p>
                    </a>
                </li>
                <li class="nav-page" style="width: 100%">
                    <a class="a-nav" asp-action="Practices6" asp-controller="Home">
                        <p class="p-nav" style="line-height: 29px;">Податкове право</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="nav-page">
            <a class="a-nav" asp-action="People" asp-controller="Home">
                <p class="p-nav">КОМАНДА</p>
            </a>
            <ul class="submenu-2">
                <li class="nav-page" style="width: 100%">
                    <a class="a-nav" asp-action="Careers" asp-controller="Home">
                        <p class="p-nav" style="line-height: 29px;">ВАКАНСІЇ</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="nav-page">
            <a class="a-nav" asp-action="List" asp-controller="Home">
                <p class="p-nav">НОВИНИ</p>
            </a>
        </div>
        <div class="nav-page">
            <a class="a-nav" asp-action="Contact" asp-controller="Home">
                <p class="p-nav">КОНТАКТИ</p>
            </a>
        </div>
    </nav>
</div>