
<div class="hl1" style="position: absolute; top: 266px; height: 5px; left: 0px; min-width: 980px; width: 100%">
</div>

<div style="text-align: left;left: 0px; width: 980px; position: relative; height: 660px; margin: auto;">
    <div>
        <div class="txtNew" style="left: 19px; width: 944px; position: absolute; top: 36px;">
            <h2 class="font_2">Вакансії</h2>
        </div>
        <div class="hl2" style="left: 489px; width: 470px; position: absolute; top: 260px; height: 6px;">
        </div>
        <div style="left: 19px; position: absolute; top: 267px; width: 940px; height: 349px;">
            <div style="width: 940px;height:349px;">
                <div style="position: relative; width: 940px; height: 349px;">
                    <img alt="" src="~/images/careers.png" style="width: 940px; height: 349px; object-fit: cover;">
                </div>
            </div>
        </div>
        <div class="txtNew" style="left: 20px; width: 461px; position: absolute; top: 126px;">
            <p class="font_8">Адвокатське об'єднання T.K.Partners буде раде бачити в своїй команді енергійних людей з високим рівнем професійної підготовки та практичних навичок. Ви можете направити нам своє резюме і в разі, якщо Ви відповідаєте нашим вимогам ми запросимо Вас на співбесіду</p>
        </div>
        <div class="slider-info-button" style="text-align: center; left: 816px;position:absolute; top: 224px;">
            <a asp-controller="Home" asp-action="Contact" class="slider-info-link">
                <span class="slider-info-text">
                    ДЕТАЛЬНІШЕ
                </span>
            </a>
        </div>
    </div>
</div>