
<div style="margin: auto;width: 980px;position: relative;height: 550px; text-align: left; margin-bottom: 70px;">
    <div style="left: 20px; width: 897px; position: absolute; top: 36px;">
        <h2 class="font_2">Зв'яжіться з нами</h2>
    </div>
    <div style="left: 20px; width: 461px; position: absolute; top: 88px;">
        <p class="font_8" style="line-height: normal;">
            вул. Велика Васильківська, 23-б, оф. 23&nbsp;<br>
            м. Київ, Україна&nbsp;,&nbsp;01004&nbsp;
        </p>
        <p class="font_8" style="line-height: normal;">
            <br>
            Тел.:&nbsp;+380 44 287 55 27&nbsp;<br>
            Факс:&nbsp;+380 44 287 55 27&nbsp;<br>
            &nbsp;
        </p>
        <p class="font_8" style="line-height: normal;">
            e-mail:&nbsp;
            <a style="color: #0C3C60;" data-auto-recognition="true" data-content="tsvitnenko@tkpartners.com.ua" href="mailto:tsvitnenko@tkpartners.com.ua" data-type="mail">
                tsvitnenko@tkpartners.com.ua
            </a>
        </p>
    </div>
    <div class="hl2" style="left: 19px; width: 470px; position: absolute; top: 237px; height: 6px;">
    </div>
    <div style="left: 19px; position: absolute; top: 272px; width: 470px; height: 286px;">
        <img data-type="image" src="~/images/contact.png" style="width: 470px; height: 286px; object-fit: cover;">
    </div>
    <div class="cf1" style="left: 519px; width: 443px; position: absolute; top: 272px; height: 286px;">
        @await Html.PartialAsync("FeedBack")
    </div>
</div>

<div class="hl1" style="position: absolute; top: 242px; left: 0px; min-width: 980px; width: 100%">
</div>
