
<div style="margin: auto;width: 980px;position: relative;height: 629px; text-align: left;">
    <div style="left: 19px; width: 944px; position: absolute; top: 36px;">
        <h2 class="font_2">
            Команда
        </h2>
    </div>
    <div style="left: 20px; width: 478px; position: absolute; top: 88px;">
        <p style="font-size:15px;line-height: normal;" class="font_8">
            <span style="color:#0C3C60;font-family:arial, 'ｍｓ ｐゴシック', 'ms pgothic', 돋움, dotum, helvetica, sans-serif;">
                Адвокати Адвокатського об'єднання T.K.Partners мають багаторічний досвід роботи в юридичних компаніях України, підприємствах приватного та державного секторів економіки, фінансових установах та органах державної влади
            </span>
        </p>
    </div>
    <div class="hl2" style="left: 19px; width: 470px; position: absolute; top: 235px; height: 6px;">
    </div>
    <div style="left: 20px; width: 944px; position: absolute; top: 272px;">
        <h4 class="font_4">Адвокати</h4>
    </div>
    <div style="left: 20px; width: 257px; position: absolute; top: 349px;">
        <h5 class="font_5">Цвітненко Дмитро</h5>
        <p class="font_7">&nbsp;</p>
        <p style="font-size:15px;" class="font_7">
            <span style="font-size:15px;">Керуючий партнер, Адвокат.</span>
        </p>
        <p style="font-size:15px;" class="font_7">&nbsp;</p>
        <p style="font-size:15px;" class="font_7">
            <span style="font-size:15px;">Спеціалізація: Господарське право та процес, Податкове право, Банкрутство, Авторське право та право інтелектуальної власності</span>
        </p>
        <p style="font-size:15px;" class="font_7">&nbsp;</p>
        <p style="font-size:15px;" class="font_7">
            <span style="font-size:15px;">
                <object height="0">
                    <a style="color:#39729B;" data-auto-recognition="true" data-content="tsvitnenko@tkpartners.com.ua" href="mailto:tsvitnenko@tkpartners.com.ua" data-type="mail">
                        tsvitnenko@tkpartners.com.ua
                    </a>
                </object>
            </span>
        </p>
    </div>
    <div style="left: 352px; width: 281px; position: absolute; top: 349px;">
        <h5 class="font_5">Фрейдун Ольга&nbsp;</h5>
        <p class="font_7">&nbsp;</p>
        <p style="font-size:15px;" class="font_7">
            <span style="font-size:15px;">Партнер, Адвокат.</span>
        </p>
        <p style="font-size:15px;" class="font_7">&nbsp;</p>
        <p style="font-size:15px;" class="font_7">
            <span style="font-size:15px;">Спеціалізація: Цивільне право та процес, Господарське право та процес, Трудові правовідносини, Договірне та Податкове право, Корпоративне право</span>
        </p>
        <p style="font-size:15px;" class="font_7">&nbsp;</p>
        <p style="font-size:15px;" class="font_7">
            <span style="font-size:15px;">
                <object height="0">
                    <a style="color:#39729B;" data-auto-recognition="true" data-content="freydun@tkpartners.com.ua" href="mailto:freydun@tkpartners.com.ua" data-type="mail">
                        freydun@tkpartners.com.ua
                    </a>
                </object>
            </span>
        </p>
    </div>
    <div style="left: 713px; width: 267px; position: absolute; top: 349px;">
        <h5 class="font_5">&#8203;&#8203;Озарків Ірина&nbsp;</h5>
        <p class="font_7">&nbsp;</p>
        <p style="font-size:15px;" class="font_7">
            <span style="font-size:15px;">Адвокат.</span>
        </p>
        <p style="font-size:15px;" class="font_7">&nbsp;</p>
        <p style="font-size:15px;" class="font_7">
            <span style="font-size:15px;">Спеціалізація: Освітнє право,</span>
        </p>
        <p style="font-size:15px;" class="font_7">
            <span style="font-size:15px;">Трудове право</span>
        </p>
        <p style="font-size:15px;" class="font_7">&nbsp;</p>
        <p style="font-size:15px;" class="font_7">&nbsp;</p>
        <p style="font-size:15px;" class="font_7">&nbsp;</p>
        <p style="font-size:15px;" class="font_7">
            <object height="0">
                <a style="color:#39729B;" data-auto-recognition="true" data-content="ozarkiv@tkpartners.com.ua" href="mailto:ozarkiv@tkpartners.com.ua" data-type="mail">
                    ozarkiv@tkpartners.com.ua
                </a>
            </object>
        </p>
        <p style="font-size:15px;" class="font_8">&nbsp;</p>
    </div>
</div>

<div class="hl1" style="position: absolute; top: 240px; height: 5px; left: 0px; min-width: 980px; width: 100%">
</div>