
<div style="position: relative;  width: 980px; margin: auto; text-align: left;">
    <div class="p2" style="left: 0px; width: 980px; position: absolute; top: 0px; height: 500px;">
        <div class="txtNew" style="left: 30px; width: 920px; position: absolute; top: 25px;">
            <h2 class="font_2">Податкове право</h2>

            <p class="font_8">&nbsp;</p>

            <p class="font_7">Представництво інтересів Клієнтів у відносинах з Державною фіскальною службою.</p>

            <p class="font_8">&nbsp;</p>

            <p class="font_7">Адміністративне та судове оскарження актів ДФС.</p>
        </div>
    </div>
</div>