
<div style="position: relative;  width: 980px; margin: auto; text-align: left;">
    <div class="p2" style="left: 0px; width: 980px; position: absolute; top: 0px; height: 500px;">
        <div class="txtNew" style="left: 30px; width: 920px; position: absolute; top: 25px;">
            <h2 class="font_2">Інтелектуальна власність та Авторське право</h2>

            <p class="font_8">&nbsp;</p>

            <p class="font_7">Правники Адвокатського об'єднання T.K.Partners здійснюють правовий супровід реєстрації авторських прав, знаків для товарі та послуг, об'єктів промислової власності.</p>

            <p class="font_7">&nbsp;</p>

            <p class="font_7">Адвокати Адвокатського об'єднання T.K.Partners представляють інтереси Клієнтів в судах у справах про захист порушених авторських прав та протиправного використання об'єктів інтелектуальної власності.</p>
        </div>
    </div>
</div>