
<div style="position: relative;  width: 980px; margin: auto; text-align: left;">
    <div class="p2" style="left: 0px; width: 980px; position: absolute; top: 0px; height: 500px;">
        <div class="txtNew" style="left: 30px; width: 920px; position: absolute; top: 25px;">
            <h2 class="font_2">Корпоративне право</h2>

            <p class="font_8">&nbsp;</p>

            <p class="font_7">Адвокатське об'єднання T.K.Partners надає юридичним особам комплексні послуги в сфері корпоративного права.</p>

            <p class="font_8">&nbsp;</p>

            <p class="font_7">Наші спеціалісти допоможуть Вам створити нові компанії, купити чи відчужити компанії чи частки в них, отримати необхідні ліцензії та дозволи, оптимізувати структуру Вашого бізнесу та податкове навантаження, захистити Ваш бізнес від посягань третіх осіб, провести правовий аналіз діяльності та діловодства Вашої компанії та привести їх у відповідність до вимог законодавства.</p>

            <p class="font_8">&nbsp;</p>

            <p class="font_7">Адвокати Адвокатського об'єднання T.K.Partners здійснюють представництво інтересів Клієнтів у корпоративних спорах, спорах між учасниками (акціонерами), спорах з дозвільними та контролюючими органами, органами державної влади та місцевого самоврядування.</p>
        </div>
    </div>
</div>