

<div style="margin: auto;width: 980px;position: relative;height: 430px; text-align: left;">
    <div style="position: absolute;left: 0px; height: 6px;width:470px;top:0px;" class="hl2">
    </div>
    <div style="left: 1px;width: 447px;position: absolute;top: 5px;">
        <h6 class="font_6" style="margin-bottom: 30px;">Ми спеціалізуємось в наступних галузях:</h6>
        <p style="line-height:1.6em; max-width:99.9000015258789%;" class="font_7">Судовий процес</p>
        <p style="line-height:1.6em; max-width:99.9000015258789%;" class="font_7">Банкрутство</p>
        <p style="line-height:1.6em; max-width:99.9000015258789%;" class="font_7">Інтелектуальна власність</p>
        <p style="line-height:1.6em; max-width:99.9000015258789%;" class="font_7">Авторське право</p>
        <p style="line-height:1.6em; max-width:99.9000015258789%;" class="font_7">Корпоративне право</p>
        <p style="line-height:1.6em; max-width:99.9000015258789%;" class="font_7">Податкове право</p>
        <p style="line-height:1.6em; max-width:99.9000015258789%;" class="font_7">Зовнішньо-економічна діяльність</p>
        <p style="line-height:1.6em; max-width:99.9000015258789%;" class="font_7">Супровід господарської діяльності</p>
    </div>
    <div class="vl1" style="left: 509px; width: 5px; position: absolute; top: 0px; height: 73px;">
    </div>
    <div class="vl1" style="left: 509px; width: 5px; position: absolute; top: 106px; height: 118px;">
    </div>
    <div class="vl1" style="left: 509px; width: 5px; position: absolute; top: 245px; height: 119px;">
    </div>
    <div style="left: 519px; width: 432px; position: absolute; top: 0px;">
        <p style="font-size:15px;line-height: normal;" class="font_8">
            <span style="color:#0C3C60;font-size:15px; font-family:arial,ｍｓ ｐゴシック,ms pgothic,돋움,dotum,helvetica,sans-serif;">
                Основним напрямком діяльності Адвокатського об'єднання T.K.Partners є представництво інтересів Клієнтів в судах в межах господарського, цивільного та адміністративного судочинства
            </span>
        </p>
    </div>
    <div style="left: 519px; width: 432px; position: absolute; top: 106px;">
        <p style="font-size:15px;line-height: normal;" class="font_8">
            <span style="color:#0C3C60;font-size:15px; font-family:arial,ｍｓ ｐゴシック,ms pgothic,돋움,dotum,helvetica,sans-serif;">
                Наші адвокати завжди прагнуть досягати абсолютної якості в наданні послуг Клієнтам. Взявши за мету кінцевий результат, ми приділяємо основну увагу якості наданих послуг та відповідності їх інтересам Клієнта. Вартість наших послуг в кожному окремому випадку залежить від особливостей та складності справи, кількості працівників, що надають послугу та завжди відповідає якості наданих послуг
            </span>
        </p>
    </div>
    <div style="left: 519px; width: 432px; position: absolute; top: 245px;">
        <p style="font-size:15px;line-height: normal;" class="font_8">
            <span style="color:#0C3C60;font-size:15px; font-family:arial,ｍｓ ｐゴシック,ms pgothic,돋움,dotum,helvetica,sans-serif;">
                Прагнучи максимально задовольнити інтереси Клієнтів, ми представляємо інтреси Клієнтів в судах, надаємо послуги в галузі авторського права та суміжних прав, права інтелектуальної власності, корпоративного права, господарського й договірного права, податкового права, супроводі процедури банкрутства та зовнішньо-економічної діяльності
            </span>
        </p>
    </div>
</div>

<div style="position:absolute;top:402px;height:1px;left:0px;min-width:980px;width: 100%;" class="hl1">
</div>