
<div style="position: relative;  width: 980px; margin: auto; text-align: left;">
    <div class="p2" style="left: 0px; width: 980px; position: absolute; top: 0px; height: 500px;">
        <div class="txtNew" style="left: 30px; width: 920px; position: absolute; top: 25px;">
            <h2 class="font_2">Судовий процес</h2>

            <p class="font_8">&nbsp;</p>

            <p class="font_7">Представництво інтересів Клієнтів в судах є основним напрямком роботи Адвокатського об'єднання T.K.Partners. Наші адвокати надають адвокатську допомогу на всіх стадіях судового процесу при розгляді справ в господарських, цивільних та адміністративних судах.</p>

            <p class="font_7">&nbsp;</p>

            <p class="font_7">Ми представляємо інтереси Клієнтів, зокрема, в договірних спорах, корпоративних спорах, у справах про захист авторського права та інтелектуальної власності, в податкових спорах та інших спорах з контролюючими органами, органами державної влади та місцевого самоврядування.</p>

            <p class="font_7">&nbsp;</p>

            <p class="font_7">Здійснюючи комплексне ведення справи, наші спеціалісти надають допомогу Клієнтам на всіх стадіях процесу: від підготовки позовної заяви до виконання рішення суду.</p>

            <p class="font_7">&nbsp;</p>

            <p class="font_7">Статус Адвокатського об'єднання і залучення до ведення справи адвоката надає нашим Клієнтам можливість в більшості випадків компенсувати витрати на адвокатську допомогу за рахунок іншої сторони.</p>
        </div>
    </div>
</div>